<div class="navbar navbar-lewagon">
  <h1 class="main-title">Restaurants</h1>
  <%= link_to new_restaurant_path do %>
    <button type="button main-title" class= "btn-pink">Add restaurant</button>
  <% end %>
</div>
<div class="container">
  <ul>
    <% @restaurants.each do |restaurant| %>
      <div class="card-product my-3">
        <li>
          <%= link_to restaurant.name, restaurant_path(restaurant) %>
        </li>
      </div>
    <% end %>
  </ul>
</div>
