<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="banner mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
        <div class="container">
          <h1>Restaurants</h1>
        </div>
      </div>
      <ul>
        <% @restaurants.each do |restaurant| %>
          <li>
            <%= link_to restaurant.name, restaurant_path(restaurant) %>
          </li>
        <% end %>
      </ul>
      <%= link_to 'Add restaurant', new_restaurant_path %>
    </div>
  </div>
</div>
